div{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    height: 305px;
    width: 250px;
    position: absolute;
    margin-left: -110px;
    margin-top: -120px;
    left: 45%;
    top: 45%;   
    border: grey solid 4px;
}


#input{
    font-size: large;
    margin-left: -150px;
    height: 250px;
    width: 250px;
}

#heading{
    font-size: large;
    color: darkred;
    font-weight: bold;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#table{
    text-align: center;
    font-size: large;
    width: 400px;
    height: 400px;
}

